{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>App para Presupuesto</title>
        
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href='{% url "index" %}' class='brand-logo center'>Hola, {{ user }} !</a>
                <ul class="right">
                    <li><a href='{% url "logout" %}' class='btn'>Cerrar Sesion</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "add item" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
							<h4 class='center'>Tu limite actual es de : <span style="color:black;">{{limit_list}}</span> dolares</h4>
                            <h4 class='center'>Tu saldo total es de : <span style="color:black;">{{saldo}}</span> dolares</h4>
							<div class="row"></div>
							<h5 class='center'>Tus ingresos han sido de : <span style="color:green;">{{budget}}</span> dolares</h5>
                            <h5 clas='center'>Has gastado un total de : <span style="color:red;">{{expenses}}</span> dolares</h5>
                            <br>
                            <br>
                            <div class="input-field col s3">
                                <input placeholder="Nombre del transaccion" name="expense_name" id='expense_name' type='text' class='validate' required>
                                <label for='expense_name'>Nombre de transaccion</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Valor' name='cost' id='cost' type='number' step="0.01" class='validate' required>
                                <label for='cost'>Valor</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Fecha Transaccion' name="expense_date" id="expense_date" type="date" class='datepicker' required>
                                <label for="expense_date">Fecha Transaccion</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Agregar Item
                                <i class="material-icons right">add_circle</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Transaccion</th>
                                    <th>Valor</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for expense_item in expense_items %}
                                <tr>
                                    <td>{{ expense_item.expense_name }}</td>
                                    <td>{{ expense_item.cost }}</td>
                                    <td>{{ expense_item.date_added}}</td>
									<td>
										<form action="{% url 'delete_item' expense_item.pk %}" method="POST">
										  {% csrf_token %}
										  <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
										</form>
									</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
						
						{% if expense_items.has_other_pages %}
						  <ul class="pagination">
							{% if expense_items.has_previous %}
							  <li><a href="?page={{ expense_item.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in expense_items.paginator.page_range %}
							  {% if expense_items.number == i %}
								<li class="active"><span>{{ i }} </span></li>
							  {% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if expense_items.has_next %}
							  <li><a href="?page={{ expense_item.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}
						
                    </div>
                    <div class="col s6">
                        <img class='responsive-img' src= "{% static '/budget_app/expense.jpg' %}">
                    </div>
                </div>
        </div>

            
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>
    </body>

</html>

